.App {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  padding-top: 50px;
  height: 1000px;
  color: white;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tableList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 25px;
  margin-right: 20px;
}

.inputs {

}

.tableItem {
  font-weight: bold;
}

.newAddedUsers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.newAddedUsersItem {

}

.actionButtons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.actionButtons button{
  font-size: 10px;
  display: block;
  font-size:10px;
  height: 30px;
  background-color:purple;
  border:none;
  margin:5px;
  color:white;
  font-weight: bold;
  transition: 0.3s ease;
}

.actionButtons button:hover {
  transform: scale(1.07);
  transition: 0.3s ease;
}

.form input{
  display: flex;
  outline: none;
  height: 30px;
  font-size: 28px;
  margin:5px;
  padding-left: 10px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: start;
}

.actions button {
  display: block;
  width: 163px;
  font-size:20px;
  height: 30px;
  background-color:purple;
  border:none;
  margin:5px;
  color:white;
  font-weight: bold;
  transition: 0.3s ease;
}

.actions button:hover {
  transform: scale(1.07);
  transition: 0.3s ease;
}